#canvas{
    border:15px solid black;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    border-bottom-left-radius:50px;
    background-color:green;
}